.ant-list-split .ant-list-item {
    border-bottom: None;
}

.ant-list-sm .ant-list-item {
    padding-top: 3px;
    padding-bottom: 3px;
}

.ant-list-sm .ant-list-item:first-child {
    padding-top: 8px;
}

.ant-list-sm .ant-list-item:last-child {
    padding-bottom: 8px;
}