.imageComparison {
  position:relative;
  margin-bottom: 1em;
  /* this keeps the modal from jumping around as the images load
   * TODO: The image height will need to be modified for VNC
  */
}

.imageComparison img {
  z-index: 1;
  width:  100%;
  height: auto;
}

.imageComparison canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.imageComparison p {
  word-break: break-all;
}
