extends:
    - "react-app"
    - "prettier"
env:
    browser: true
    node: true
    jquery: true
globals:
    React: true
    TestUtils: true
    routerHelper: true
    Set: true
parser:
   "@babel/eslint-parser"
plugins:
    - "react"
    - "prettier"
rules:
    "no-console":
      - "off"
    "react/forbid-prop-types":
        - 1
        - forbid:
            - 'any'
            - 'array'
    "react/jsx-props-no-spreading":
      - "off"
    "react-hooks/exhaustive-deps":
      - "off"
