
@keyframes colorfade {
  from {
    background: #d8fdff;
  }
  to {
    background: transparent;
  }
}

.highlighted {
  animation: colorfade 2s;
}

.top-space-sm {
  margin-top: 1em;
}

.top-space {
  margin-top: 2em;
}

.pipelines {
  margin-top: 2em;
}

.pipelines img {
  max-width: 100%;
}

.helpcontents dt {
  font-weight: bold;
}
.helpcontents dd {
  margin-left: 1em;
}
