
@keyframes colorfade {
  from {
    background: #d8fdff;
  }
  to {
    background: transparent;
  }
}

.highlighted {
  animation: colorfade 2s;
}

.pipelines {
  margin-top: 2em;
}

.pipelines img {
  max-width: 100%;
}
