.thumbnail {
  border: 1px solid #ccc;
  background: #ddd;
}

button.modalButton {
  border: none;
  color:transparent;
  background-color: transparent;
  box-shadow: none;
  height: inherit;
}

button.modalButton:hover {
  background-color: transparent;
}

img.limitedheight {
  max-height: 900px;
}
