.thumbnail {
  width: 90%;
  max-height: 316px;
  border: 1px solid #ccc;
  background: #ddd;
}

button.modalButton {
  border: none;
  color:transparent;
  background-color: transparent;
  box-shadow: none;
  height: inherit;
}

button.modalButton:hover {
  background-color: transparent;
}

.ant-modal-root img {
  width: 99%;
}
