.landing {
  background: #000;
  background-image: url("/landing_background.png");
  min-height: 500px;
  background-size: cover;
}

.landing h1.ant-typography, .landing div.ant-typography {
  color: #fff;
  margin: 20px;
}

.landing h1.ant-typography {
  padding-top: 20px;
}

.landing .copy {
  padding-bottom: 1em;
}

.landing .copy a {
  color: #17DDFE;
}

div.collections {
  margin-left: 20px;
  text-align:center;
  color: #fff;
}

div.collections div {
  padding: 1em;
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 850px) {
  .landing .copy {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
}


