.mdplaceholder {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  display: inline;
}

.mdplaceholder img {
  max-width: 100%;
}

.mdplaceholder h2 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align:center;
  color: white;
}

#maskLassoContainer {
  position: relative;
  overflow: scroll;
  margin-bottom: 1em;
}
